:root {
    --step--2: clamp(0.96rem, calc(0.89rem + 0.10vw), 0.91rem);
    --step--1: clamp(1.20rem, calc(1.05rem + 0.21vw), 1.09rem);
    --step-0: clamp(1.88rem, calc(1.19rem + 2.27vw), 2.81rem);
    --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
    --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
    --step-3: clamp(3.24rem, calc(1.60rem + 5.46vw), 5.49rem);
    --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
    --step-5: clamp(4.67rem, calc(1.82rem + 9.50vw), 8.58rem);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow{
    background-color: yellow;
    min-width: 200px;
    min-height: 130px;
    border: 5px solid black;
    font-size: var(--step-3);
}

.yellow:hover{
    background-color: rgb(169, 172, 16);
    transition: ease-in 100ms;
}

@media only screen and (max-width: 1080px) {
    .yellow {
        min-width: 150px;
        min-height: 125px;
        }
    } 
    @media only screen and (max-width: 830px) {
        .yellow {
            min-width: 100px;
            }
        } 
        @media only screen and (max-width: 580px) {
            .yellow {
                min-width: 75px;
                min-height: 110px;
                }
            }

.red {
    background-color: red;
    min-width: 200px;
    min-height: 130px;
    border: 5px solid black;
    font-size: var(--step-3);
}

.red:hover{
    background-color: rgb(194, 29, 29);
    transition: ease-in 100ms;
}

@media only screen and (max-width: 1080px) {
    .red {
        min-width: 150px;
        min-height: 125px;
        }
    } 
    @media only screen and (max-width: 830px) {
        .red {
            min-width: 100px;
            }
        } 
        @media only screen and (max-width: 580px) {
            .red {
                min-width: 75px;
                min-height: 110px;
                }
            } 


